#document-wrapper .footnotes {
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid $limestone;
  font-size: 18px;

  li {
    font-size: 18px !important;
    line-height: 1.62em;
    letter-spacing: 0;
  }
}