.tei-item {
  @extend p.tei-p1;
  margin-bottom: 4px;

  .tei-ref3,
  .tei-ref3:hover,
  .tei-ref3:focus {
    cursor: pointer !important;

    .alternate {
      cursor: pointer !important;
    }
  }

  .altcontent {
    display: none !important;
    background-color: $torch !important;
  }
}