p {
  &.tei-p1 {
    font-size: 18px !important;
    line-height: 1.62em;
    letter-spacing: 0;
    text-align: justify;
    text-justify: inter-word;
  }

  &.tei-p2 {
    font-size: 18px !important;
    line-height: 1.62em;
    letter-spacing: 0;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 0;
  }

  &.tei-p3 {
    font-size: 18px !important;
    line-height: 1.62em;
    letter-spacing: 0;
    text-align: right;
    text-justify: inter-word;
  }

  text-indent: $text-indent;
}