p {
  font-size: 18px !important;
  line-height: 1.62em;
  letter-spacing: 0;
  text-align: justify;
  text-justify: inter-word;
  text-indent: $text-indent;

  /*
   * default implementation of <p>
   */
  &.tei-p1 {
    font-family: $serif-generic;
    line-height: 1.62em;
  }

  /*
   * @rend=block
   */
  &.tei-p2 {
    font-family: $serif-generic;
    line-height: 1.62em;
    text-indent: 0;
  }

  /*
   * @rend=right
   */
  &.tei-p3 {
    font-family: $serif-generic;
    line-height: 1.62em;
    text-align: right;
    text-indent: 0;
  }

  /*
   * @rend=center
   */
  &.tei-p4 {
    font-family: $serif-generic;
    line-height: 1.62em;
    text-align: center;
    text-indent: 0;
  }

  &.tei-p5 {
    font-family: $serif-generic;
    line-height: 1.62em;
    text-align: right;
    text-indent: 0;
    border-bottom: 1px solid $smokey;
  }

  * {
    text-indent: 0 !important;
  }
}