.tei-q1,
.tei-q2,
.tei-q3 {
  position: relative;
  left: $text-indent;

  &::before {
    content: '\201c';
  }

  &::after {
    content: '\201d';
  }
}

.tei-q2 {
  left: auto;
}

.tei-q3 {
  left: auto;
  text-align: right;
}