.polk-logos {
  margin-top: 123px;
  margin-bottom: 76px;

  > div[class*=' col-'] {
    text-align: center;
    position: relative;
    vertical-align: middle;
    height: 200px;

    &:first-child img {
      /* special application for the square NHPRC logo */
      max-height: 180px;
    }
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    min-width: auto;
    min-height: auto;
  }
}