<?xml version="1.0" encoding="UTF-8"?>
<section class="utk_header">
    <nav xmlns:i18n="http://exist-db.org/xquery/i18n" class="navbar navbar-default" role="navigation" data-template="i18n:translate" data-catalogues="resources/i18n">
        <div class="container-fluid" data-template="browse:fix-links">
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <form id="searchPageForm" class="navbar-form" role="search" action="search.html">
                            <div class="input-group">
                                <i class="glyphicon glyphicon-search" onclick="$(&#34;#searchPageForm&#34;).submit()"/>
                                <input type="search" class="form-control search-input templates:form-control typeahead-search" autocomplete="off" placeholder="i18n(search-query-attr)" name="query"/>
                            </div>
                            <input type="button" name="doc" data-template="search:form-current-doc"/>
                            <input type="submit" value="Search" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>