<?xml version="1.0" encoding="UTF-8"?>
<section xmlns:i18n="http://exist-db.org/xquery/i18n" class="tp-toolbar" data-template="i18n:translate" data-catalogues="resources/i18n">
    <a class="btn btn-default toc-toggle" data-toggle="offcanvas" data-target="#sidebar" data-canvas="#tp-canvas" title="i18n(contents)">
        <i class="material-icons">view_list</i>
        <div class="ripple-container"/>
    </a>
    <div class="tp-dropdown-wrapper">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="material-icons">print</i>
            <span class="hidden-xs">PDF</span>
            <span class="caret"/>
        </button>
        <!-- Download options -->
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="download-link" href="resources/pdfs/polk.pdf">
                    PDF
                </a>
            </li>
        </ul>
    </div>
    <a target="_new" class="btn btn-default" data-template="browse:download-link" data-template-type="" data-template-mode="plain" title="i18n(single-page)">
        <i class="material-icons">pageview</i>
        <span class="hidden-xs">
            <i18n:text key="plain"/>
        </span>
    </a>
</section>